html {
    /* Fix `background-image: url('/images/bg-texture-00.svg');` in styles/theme-medium.css */
    /* bg-texture-00.svg is not handled while rendering */
    background-image: url('../images/bg-texture-00.svg') !important;
}

/* Fix padding of example code blocks for PHP 8.3+ rendering */
.docs .example-contents > .phpcode > pre {
    padding: .75rem;
}

#layout {
    /* To make breadcrumbs `position: sticky;` work */
    overflow: auto;
}

.navbar {
    display: none !important;
}

#breadcrumbs {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
}

#breadcrumbs ul {
    margin: 0 auto;
    padding-left: 3rem;
}

@media (min-width: 768px) {
    #breadcrumbs ul,
    #layout {
        width: 90% !important;
    }
}
